<div class="comment-box">
    <div class="comment-box-header">
        <p> </p>
        </br>
        </br>
    </div>
    <div class="comment-box-content">
        {{content}}
        </br>
        </br>
        </br>
        -- {{poster_name}}, {{created_date}}
        </br>
        </br>
    </div>
</div>