<nav>
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
{{#unless signedIn}}
<a href="/login">Login</a>
{{/unless}}
{{#if signedIn}}
<span id="logout-button">Logout</span>
{{/if}}

</nav>
<header>
<h1>Your Dashboard</h1>
</header>
{{#each posts as |postbars|}}
    {{> postbars}}
{{/each}}
<button class="new-post-button">+ New Post</button>
<script src="./js/dashboard.js"></script>
<script src="./js/main.js"></script>