<nav>
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
{{#unless signedIn}}
<a href="/login">Login</a>
{{/unless}}
{{#if signedIn}}
<span id="logout-button">Logout</span>
{{/if}}


</nav>
<header>
<h1>The Tech Blog</h1>
</header>
{{#each posts as |post|}}
    {{> post}}
{{/each}}
<script src="./js/home.js"></script>
<script src="./js/main.js"></script>

{{!-- // /
// contains all posts (boxes) from all users sorted by recency of date, with title of blog name, "posted by {user} on {date}",
// and blog content in box --}}