<nav>
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
{{#unless signedIn}}
<a href="/login">Login</a>
{{/unless}}
{{#if signedIn}}
<span id="logout-button">Logout</span>
{{/if}}

</nav>
<header>
<h1>Your Dashboard</h1>
</header>
<div class="box">
    <div class="box-header">
        <h2>Create New Post</h2>
    </div>
    <div class="box-content">
        <form id="new-post-form">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required size="12">
            <label for="content">Content</label>
            <input type="text" id="content" name="content" required size="12">
            <input type="submit" value="Create" class="form-button">
        </form>
    </div>
</div>
<script src="../js/new.js"></script>
<script src="../js/main.js"></script>