<div class="box">
    <div class="box-header">
        <h2>Signup</h2>
    </div>
    <div class="box-content">
        <form>
            <label for="name">Username</label>
            <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
            <label for="name">Password</label>
            <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
            <input type="submit" value="Sign up!" class="form-button">
        </form>
        <a href="/login">Login instead</a>
    </div>
</div>

{{!-- // /signup
// box containing username field, password field, signup button, and login instead button --}}