<nav>
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>
{{#unless signedIn}}
<a href="/login">Login</a>
{{/unless}}
{{#if signedIn}}
<span id="logout-button">Logout</span>
{{/if}}
</nav>
<header>
<h1>The Tech Blog</h1>
</header>
<div class="box">
    <div class="box-header">
        <h2>Signup</h2>
    </div>
    <div class="box-content">
        <form id="signup-form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required minlength="4" maxlength="25" size="10">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required minlength="4" maxlength="25" size="10">
            <input type="submit" value="Sign up!" class="form-button">
        </form>
        <a href="/login">Login instead</a>
    </div>
</div>
<script src="./js/signup.js"></script>
<script src="./js/main.js"></script>


{{!-- // /signup
// box containing username field, password field, signup button, and login instead button --}}