body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(181, 207, 214);
}

nav {
    background-color: #3e3530;
    height: 100px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: left;
}

nav a {
    padding: 0 20px;
    text-decoration: none;
    flex-shrink: 0;
    color: rgb(181, 207, 214);
    margin: 0 75px;
    font-size: 1.5rem;
}

nav a:visited {
    color: rgb(181, 207, 214);
}

header {
    background-color: #3e3530;
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 30px;
    padding-bottom: 50px;
}

header h1 {
    margin: 0 65px;
    padding: 13px;
    background-color: rgb(181, 207, 214);
    width: fit-content;
    border-radius: 10px;
    box-shadow: 6px 6px rgba(222, 222, 222, 0.4);;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    flex: 1 0 85%;
    margin: 40px;
    border: 4px solid #3e3530;
    border-radius: 5px;
}

.box-header {
    display: flex;
    justify-content: center;
    background-color:#3e3530;
    color: rgb(181, 207, 214);
}

.box-content {
    padding: 20px;
    size: 1.5rem;
}

.box-content a {
    color:#3e3530;
    font-size: 1.25rem;
}

.box-content input {
    width: 100%;
    height: 35px;
    margin: 10px auto;
    border-radius: 4px;
}

.form-button {
    border: none;
    background-color: #3e3530;
    color: rgb(181, 207, 214);
    font-size: 1.25rem;
}